* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
}

.container {
        max-width: 1500px;
        margin: auto;
}

header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 80px;
}

header nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
}

header nav ul li a {
        text-decoration: none;
        color: #575757;
        font-size: 12px;
}

.commonbtn {
        background-color: #1D4ED8;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        letter-spacing: 1.1px;
}

#hero {
        height: 100vh;
        position: relative;
}

#hero .imgcontainer img {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
}

#hero .overlay{
        background-color: rgba(0, 0, 0, 0.464);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
}

#hero .text {
        z-index: 3;
        position: absolute;
        top: 170px;
        left: 280px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#hero .text h1 {
        font-size: 90px;

}
#hero .text ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
}